@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham Pro Bold';
  src: local('Gotham Pro Bold'), url(fonts/gothampro_bold.ttf);
}

@font-face {
  font-family: 'Gotham Pro Light';
  src: local('Gotham Pro Light'), url(fonts/gothampro_light.ttf);
}

@font-face {
  font-family: 'Gotham Pro';
  src: local('Gotham Pro'), url(fonts/gothampro.ttf);
}

@font-face {
  font-family: 'Gotham Pro Medium';
  src: local('Gotham Pro Medium'), url(fonts/gothampro_medium.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
